In [1]:
import pandas as pd
import os

# Checking

In [15]:
ind=pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\81129200\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries (2).xlsx")

In [16]:
ind

,TradeStat->Eidb->Import->Commodity-wise-all-countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Report Generated on: 12/12/2025 - Values in US...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S.No.,Country / Region,2019-2020,2020-2021,%Growth,2019-2020,2020-2021,%Growth
2,1,CHINA P RP,0.04,0,-99.51,120,NaN,NaN
3,2,FRANCE,0.01,NaN,NaN,5,NaN,NaN
4,3,ITALY,0,NaN,NaN,6,NaN,NaN
5,4,U K,0,0,-74.58,NaN,NaN,NaN
6,5,U S A,0,0,-78.27,3,NaN,NaN
7,Total,Total,0.06,0,-98.57,NaN,NaN,NaN

In [17]:
ind.iloc[1:,:]

,TradeStat->Eidb->Import->Commodity-wise-all-countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,S.No.,Country / Region,2019-2020,2020-2021,%Growth,2019-2020,2020-2021,%Growth
2,1,CHINA P RP,0.04,0,-99.51,120,NaN,NaN
3,2,FRANCE,0.01,NaN,NaN,5,NaN,NaN
4,3,ITALY,0,NaN,NaN,6,NaN,NaN
5,4,U K,0,0,-74.58,NaN,NaN,NaN
6,5,U S A,0,0,-78.27,3,NaN,NaN
7,Total,Total,0.06,0,-98.57,NaN,NaN,NaN

In [18]:
ind2=pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\81129200\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries (3).xlsx")

In [19]:
ind2

,TradeStat->Eidb->Import->Commodity-wise-all-countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Report Generated on: 12/12/2025 - Values in US...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S.No.,Country / Region,2020-2021,2021-2022,%Growth,2020-2021,2021-2022,%Growth
2,1,CHINA P RP,0,0.02,9288.68,NaN,14,NaN
3,2,MEXICO,NaN,0.12,NaN,NaN,38261,NaN
4,3,RUSSIA,NaN,0.29,NaN,NaN,101454,NaN
5,4,SINGAPORE,NaN,0,NaN,NaN,2,NaN
6,5,SPAIN,NaN,0.07,NaN,NaN,24475,NaN
7,6,U K,0,NaN,NaN,NaN,NaN,NaN
8,7,U S A,0,0,-84,NaN,NaN,NaN
9,Total,Total,0,0.49,59383.33,NaN,NaN,NaN

In [20]:
pd.concat([ind,ind2],ignore_index=True)

,TradeStat->Eidb->Import->Commodity-wise-all-countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Report Generated on: 12/12/2025 - Values in US...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S.No.,Country / Region,2019-2020,2020-2021,%Growth,2019-2020,2020-2021,%Growth
2,1,CHINA P RP,0.04,0,-99.51,120,NaN,NaN
3,2,FRANCE,0.01,NaN,NaN,5,NaN,NaN
4,3,ITALY,0,NaN,NaN,6,NaN,NaN
5,4,U K,0,0,-74.58,NaN,NaN,NaN
6,5,U S A,0,0,-78.27,3,NaN,NaN
7,Total,Total,0.06,0,-98.57,NaN,NaN,NaN
8,Report Generated on: 12/12/2025 - Values in US...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,S.No.,Country / Region,2020-2021,2021-2022,%Growth,2020-2021,2021-2022,%Growth
10,1,CHINA P RP,0,0.02,9288.68,NaN,14,NaN
11,2,MEXICO,NaN,0.12,NaN,NaN,38261,NaN
12,3,RUSSIA,NaN,0.29,NaN,NaN,101454,NaN
13,4,SINGAPORE,NaN,0,NaN,NaN,2,NaN
14,5,SPAIN,NaN,0.07,NaN,NaN,24475,NaN
15,6,U K,0,NaN,NaN,NaN,NaN,NaN
16,7,U S A,0,0,-84,NaN,NaN,NaN
17,Total,Total,0,0.49,59383.33,NaN,NaN,NaN

In [21]:
if os.path.isdir("sample1"):
    print("working...")
else:
    os.makedirs("sample1",exist_ok= True)
    new_sub_folder=os.path.join("sample1","checking")
    os.makedirs(new_sub_folder,exist_ok = True)

In [22]:
df = pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\81129200\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx")
for i in range (1,8):
    df2=pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\81129200\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries ({}).xlsx".format(i))
    df = pd.concat([df,df2],ignore_index=True)

In [23]:
ind_hs_list= [28259090 , 28273990 , 81129200 , 81129900]
# 
for hs_code in ind_hs_list:              
    df = pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx".format(hs_code))
    for i in range (1,8):    
        df2=pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries ({}).xlsx".format(hs_code,i))
        df = pd.concat([df,df2],ignore_index=True)

In [ ]:
if os.path.isdir("Indium"):
    print("Indium folder present")
else:
    os.makedirs("Indium",exist_ok = True)
    import_path = os.path.join("Indium","import")
    os.makedirs(import_path,exist_ok = True)

In [ ]:
df.to_csv(r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\Indium\import\Indium_imports.csv")

In [ ]:
# For indium 
ind_hs_list= [28259090 , 28273990 , 81129200 , 81129900]
# 
for hs_code in ind_hs_list:              
    df = pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx".format(hs_code))
    for i in range (1,8):    
        df2=pd.read_excel(r"C:\Users\Abhi9\OneDrive\Desktop\Mineral Forecasting\Indium\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries ({}).xlsx".format(hs_code,i))
        df = pd.concat([df,df2],ignore_index=True)

if os.path.isdir("Indium"):
    print("Indium folder present")
else:
    os.makedirs("Indium",exist_ok = True)
    import_path = os.path.join("Indium","import")
    os.makedirs(import_path,exist_ok = True)

df.to_csv(r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\Indium\import\Indium_imports.csv")

# My files

In [ ]:
# installing imports first 
# minerals=["Cobalt" , "Graphite" , "Indium" , "Lithium" , "Rare Earth" , "Titanium"]
# Abhirup
minerals_hs_codes = {
    "Cobalt" :[26050010 , 26050090 , 75011000 , 81052010 , 81052020],
    "Graphite":[25041010 , 25041020 , 38011000],
    "Indium" : [28259090 , 28273990 , 81129200 , 81129900] ,
    "Lithium" :[25309099 , 28252000 , 28369100],
    "Rare Earth":[25309040 , 28461010 , 72029921],
    "Titanium":[26140010 , 26140020 , 28230010 , 81082000]
}

In [2]:
# 28273930, 28342910, 28164000, 28369200, 28332950, 29171130, 25309091


minerals_hs_codes = {
    "MOLYBDENUM" :[2613, 8102, 282570, 284170, 28257010, 28257020, 28417010, 28417020, 72027000, 81029400],
    "PGE":[26140020, 71110000, 71131925, 71131921, 7106, 71151000, 28439012,
38151210, 711011, 7110, 71131923, 71131922, 7108, 71129200, 71131924, 71141920, 71104900, 71104100, 71102100, 71102900],
    "POTASH" :[28333030, 28364000, 28371910, 28322010, 28372030, 28352400, 28342100],
    "RHENIUM":[81124900],
    "STRONTIUM":[28273930, 28342910, 28164000, 28369200, 28332950, 29171130, 25309091]
}

In [6]:


minerals_hs_codes = {
    "Cadmium" :[26209100, 85073000],
    "Germanium":[8112, 282560, 28256010],
    "Hafnium" :[811231, 811231110],
    "Niobium":[2615],
    "Selenium":[72029911, 72029912],
    "Silicon":[28046100, 28256010]
}

In [7]:

for key,values in minerals_hs_codes.items():
    if os.path.isdir(key):
        print(f"{key} folder present")
    else:
        os.makedirs(key,exist_ok = True)

    mineral_hs_list= values

    all_child_imports = []
    all_child_exports = []

    for hs_code in mineral_hs_list:
        # imports
        parent_import_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\APURBA\All\{}\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx".format(key,hs_code)
        if os.path.exists(parent_import_file_path):
            import_df = pd.read_excel(parent_import_file_path)
            all_child_imports.append(import_df)
            for i in range (1,8):    
                child_import_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\APURBA\All\{}\{}\Import\TradeStat-Eidb-Import-Commodity-wise-all-countries ({}).xlsx".format(key,hs_code,i)
                if os.path.exists(child_import_file_path):
                    import_df2=pd.read_excel(child_import_file_path)
                    all_child_imports.append(import_df2)
        # exports
        parent_export_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\APURBA\All\{}\{}\Export\TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx".format(key,hs_code)
        if os.path.exists(parent_export_file_path):
            export_df = pd.read_excel(parent_export_file_path)
            all_child_exports.append(export_df)
            for i in range (1,8):    
                child_export_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\APURBA\All\{}\{}\Export\TradeStat-Eidb-Export-Commodity-wise-all-countries ({}).xlsx".format(key,hs_code,i)
                if os.path.exists(child_export_file_path):
                    export_df2=pd.read_excel(child_export_file_path)
                    all_child_exports.append(export_df2)
    if len(all_child_imports):    
        import_df = pd.concat(all_child_imports,ignore_index=True)
        final_import_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_imports.csv".format(key,key)
        import_df.to_csv(final_import_csv,index=False)
        print(f"{key}_imorts created.")
        print("-"*50)
    else:
        print(f"all_child_imports is null for {key}")
    if len(all_child_exports):
        export_df = pd.concat(all_child_exports,ignore_index=True)
        final_export_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_exports.csv".format(key,key)
        export_df.to_csv(final_export_csv,index=False)
        print(f"{key}_exports created.")
        print("-"*50)
    else:
        print(f"all_child_exports is null for {key}")

Cadmium_imorts created.
--------------------------------------------------
Cadmium_exports created.
--------------------------------------------------
Germanium_imorts created.
--------------------------------------------------
Germanium_exports created.
--------------------------------------------------
Hafnium_imorts created.
--------------------------------------------------
all_child_exports is null for Hafnium
Niobium_imorts created.
--------------------------------------------------
Niobium_exports created.
--------------------------------------------------
Selenium_imorts created.
--------------------------------------------------
Selenium_exports created.
--------------------------------------------------
Silicon_imorts created.
--------------------------------------------------
Silicon_exports created.
--------------------------------------------------

In [9]:
# Sathwik
minerals_hs_codes = {
    "tantalum" :[],
    "tellurium":[],
    "tin" :[],
    "tungsten":[],
    "vanadium":[],
    "zirconium":[]
}

In [ ]:
'''
C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\SATHWIK\PLUTUS - Copy\Import\tantalum\TradeStat-Eidb-Import-Commodity-wise-all-countries (1).xlsx
'''

In [12]:

for key,values in minerals_hs_codes.items():
    if os.path.isdir(key):
        print(f"{key} folder present")
    else:
        os.makedirs(key,exist_ok = True)

    mineral_hs_list= values

    all_child_imports = []
    all_child_exports = []


    # imports
    parent_import_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\SATHWIK\PLUTUS - Copy\Import\{}\TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx".format(key)
    if os.path.exists(parent_import_file_path):
        import_df = pd.read_excel(parent_import_file_path)
        all_child_imports.append(import_df)
        for i in range (1,8):    
            child_import_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\SATHWIK\PLUTUS - Copy\Import\{}\TradeStat-Eidb-Import-Commodity-wise-all-countries ({}).xlsx".format(key,i)
            if os.path.exists(child_import_file_path):
                import_df2=pd.read_excel(child_import_file_path)
                all_child_imports.append(import_df2)
    # exports
    parent_export_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\SATHWIK\PLUTUS - Copy\Export\{}\TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx".format(key)
    if os.path.exists(parent_export_file_path):
        export_df = pd.read_excel(parent_export_file_path)
        all_child_exports.append(export_df)
        for i in range (1,8):    
            child_export_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\SATHWIK\PLUTUS - Copy\Export\{}\TradeStat-Eidb-Export-Commodity-wise-all-countries ({}).xlsx".format(key,i)
            if os.path.exists(child_export_file_path):
                export_df2=pd.read_excel(child_export_file_path)
                all_child_exports.append(export_df2)
    if len(all_child_imports):    
        import_df = pd.concat(all_child_imports,ignore_index=True)
        final_import_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_imports.csv".format(key,key)
        import_df.to_csv(final_import_csv,index=False)
        print(f"{key}_imoprts created.")
        print("-"*50)
    else:
        print(f"all_child_imports is null for {key}")
    if len(all_child_exports):
        export_df = pd.concat(all_child_exports,ignore_index=True)
        final_export_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_exports.csv".format(key,key)
        export_df.to_csv(final_export_csv,index=False)
        print(f"{key}_exports created.")
        print("-"*50)
    else:
        print(f"all_child_exports is null for {key}")

tantalum folder present
tantalum_imoprts created.
--------------------------------------------------
tantalum_exports created.
--------------------------------------------------
tellurium folder present
tellurium_imoprts created.
--------------------------------------------------
tellurium_exports created.
--------------------------------------------------
tin folder present
tin_imoprts created.
--------------------------------------------------
tin_exports created.
--------------------------------------------------
tungsten folder present
tungsten_imoprts created.
--------------------------------------------------
tungsten_exports created.
--------------------------------------------------
vanadium folder present
vanadium_imoprts created.
--------------------------------------------------
vanadium_exports created.
--------------------------------------------------
zirconium folder present
zirconium_imoprts created.
--------------------------------------------------
zirconium_exports created.
--------------------------------------------------

# Anish's file

In [ ]:
# Anish's folder
# 26040000 , 28254000 , 28273500 , 28332400 , 38151100 , 72026000 , 72192112 , 72192141 , 72192142 , 72192190 , 72192292 , 72192320 , 72192422 , 72192423 , 72192429 , 72192490 , 72193122 , 72193190 , 72193220 , 72193320 , 72193420 , 72193520 , 72201122 , 72202022 , 72209022 , 72210012 , 72221112 , 72221192 , 72221912 , 72221992 , 72222012 , 72222092 , 72223012 , 72223092 , 74040025 , 74094000 , 74112200 , 74198020 , 84829111, 85073000 , 85075000 

minerals_hs_codes = {
    "Antimony":[26171000 , 26209100 , 28258000 , 78019100 , 81101000 , 81102000 , 81109000],
    "Beryllium":[26209100 , 71031031 , 71031032 , 71031033 , 71031034 , 71031039 , 71039911 , 71039912 , 71039913 , 71039919 , 81121200 , 81121300 , 81121900],
    "Bismuth":[29161920 , 29163920 , 29181530 , 81061010 , 81061020 , 81061090 , 81069010 , 81069090],
    "Copper":[26030000 , 26203010 , 26203090 , 28255000 , 28274110 , 28274190 , 28332500 , 38089250 , 72299016 , 84425040 , 85441110 , 85441190],
    "Gallium" : [29182910 , 32019030 , 81129200 , 81129900],
    "Nickel" : [26040000 , 28254000 , 28273500 , 28332400 , 38151100 , 72026000 , 72192112 , 72192141 , 72192142 , 72192190 , 72192292 , 72192320 , 72192422 , 72192423 , 72192429 , 72192490 , 72193122 , 72193190 , 72193220 , 72193320 , 72193420 , 72193520 , 72201122 , 72202022 , 72209022 , 72210012 , 72221112 , 72221192 , 72221912 , 72221992 , 72222012 , 72222092 , 72223012 , 72223092 , 74040025 , 74094000 , 74112200 , 74198020 , 84829111, 85073000 , 85075000]
}
year = ["2018-19" , "2019-20" , "2020-21" , "2021-22" , "2022-23" , "2023-24" , "2024-25", "2025-26"]

In [ ]:
for key,values in minerals_hs_codes.items():
    if os.path.isdir(key):
        print(f"{key} folder present")
    else:
        os.makedirs(key,exist_ok = True)

    mineral_hs_list= values

    all_child_imports=[]
    # all_child_exports=[]

    for hs_code in mineral_hs_list:
        for y in year:
            parent_import_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\ANISH\PLUTUS\Import\{}\{} {}.xlsx".format(key,hs_code,y)
            if os.path.exists(parent_import_file_path):
                import_df2 = pd.read_excel(parent_import_file_path)
                all_child_imports.append(import_df2)

    import_df = pd.concat(all_child_imports,ignore_index = True)
    final_import_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_imports.csv".format(key,key)
    import_df.to_csv(final_import_csv,index=False)

In [ ]:
for key,values in minerals_hs_codes.items():
    if os.path.isdir(key):
        print(f"{key} folder present")
        print("*"*50)
    else:
        os.makedirs(key,exist_ok = True)

    mineral_hs_list= values

    # all_child_imports=[]
    all_child_exports=[]

    for hs_code in mineral_hs_list:

        for y in year:
            parent_export_file_path = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\ANISH\PLUTUS\Export\{}\{} {}.xlsx".format(key,hs_code,y)
            if os.path.exists(parent_export_file_path):
                export_df2 = pd.read_excel(parent_export_file_path)
                all_child_exports.append(export_df2)
    
    if len(all_child_exports):
        export_df = pd.concat(all_child_exports,ignore_index = True)
        final_export_csv = r"C:\Users\Abhi9\OneDrive\Desktop\Minerals Data\{}\{}_exports.csv".format(key,key)
        export_df.to_csv(final_export_csv,index=False)
    else:
        print(f"for {key} nothing found to concatenate")

Antimony folder present
**************************************************
Beryllium folder present
**************************************************
for Beryllium nothing found to concatenate
Bismuth folder present
**************************************************
Copper folder present
**************************************************
Gallium folder present
**************************************************
Nickel folder present
**************************************************